<section class="about__page">
  <h1 class="title">Rick and Morty GraphQL Angular</h1>
  <div class="about__container">
    <p class="about__paragraph">
      Angular 11 + Rick and Morty GraphQL API.
      Using apollo-angular
    </p>
    <figure class="about__img">
      <img height="306" width="406" src="assets/imgs/web_dev.svg" alt="Web dev" class="about__picture" rel="preload" as="image">
    </figure>
  </div>
  <p class="about__copy">
    Developed by <span class="text-white">Meraki Developer</span>
  </p>
</section>
